Pull in data from an API.

In [45]:
import requests as req
import pandas as pd
response = req.get("https://datausa.io/api/data?drilldowns=State&measures=Population&year=latest")
json = response.json()
df = pd.json_normalize(data = json, record_path = ["data"])
df

,ID State,State,ID Year,Year,Population,Slug State
0,04000US01,Alabama,2020,2020,4893186,alabama
1,04000US02,Alaska,2020,2020,736990,alaska
2,04000US04,Arizona,2020,2020,7174064,arizona
3,04000US05,Arkansas,2020,2020,3011873,arkansas
4,04000US06,California,2020,2020,39346023,california
5,04000US08,Colorado,2020,2020,5684926,colorado
6,04000US09,Connecticut,2020,2020,3570549,connecticut
7,04000US10,Delaware,2020,2020,967679,delaware
8,04000US11,District of Columbia,2020,2020,701974,district-of-columbia
9,04000US12,Florida,2020,2020,21216924,florida
10,04000US13,Georgia,2020,2020,10516579,georgia
11,04000US15,Hawaii,2020,2020,1420074,hawaii
12,04000US16,Idaho,2020,2020,1754367,idaho
13,04000US17,Illinois,2020,2020,12716164,illinois
14,04000US18,Indiana,2020,2020,6696893,indiana
15,04000US19,Iowa,2020,2020,3150011,iowa
16,04000US20,Kansas,2020,2020,2912619,kansas
17,04000US21,Kentucky,2020,2020,4461952,kentucky
18,04000US22,Louisiana,2020,2020,4664616,louisiana
19,04000US23,Maine,2020,2020,1340825,maine
20,04000US24,Maryland,2020,2020,6037624,maryland
21,04000US25,Massachusetts,2020,2020,6873003,massachusetts
22,04000US26,Michigan,2020,2020,9973907,michigan
23,04000US27,Minnesota,2020,2020,5600166,minnesota
24,04000US28,Mississippi,2020,2020,2981835,mississippi
25,04000US29,Missouri,2020,2020,6124160,missouri
26,04000US30,Montana,2020,2020,1061705,montana
27,04000US31,Nebraska,2020,2020,1923826,nebraska
28,04000US32,Nevada,2020,2020,3030281,nevada
29,04000US33,New Hampshire,2020,2020,1355244,new-hampshire
30,04000US34,New Jersey,2020,2020,8885418,new-jersey
31,04000US35,New Mexico,2020,2020,2097021,new-mexico
32,04000US36,New York,2020,2020,19514849,new-york
33,04000US37,North Carolina,2020,2020,10386227,north-carolina
34,04000US38,North Dakota,2020,2020,760394,north-dakota
35,04000US39,Ohio,2020,2020,11675275,ohio
36,04000US40,Oklahoma,2020,2020,3949342,oklahoma
37,04000US41,Oregon,2020,2020,4176346,oregon
38,04000US42,Pennsylvania,2020,2020,12794885,pennsylvania
39,04000US44,Rhode Island,2020,2020,1057798,rhode-island
40,04000US45,South Carolina,2020,2020,5091517,south-carolina
41,04000US46,South Dakota,2020,2020,879336,south-dakota
42,04000US47,Tennessee,2020,2020,6772268,tennessee
43,04000US48,Texas,2020,2020,28635442,texas
44,04000US49,Utah,2020,2020,3151239,utah
45,04000US50,Vermont,2020,2020,624340,vermont
46,04000US51,Virginia,2020,2020,8509358,virginia
47,04000US53,Washington,2020,2020,7512465,washington
48,04000US54,West Virginia,2020,2020,1807426,west-virginia
49,04000US55,Wisconsin,2020,2020,5806975,wisconsin
50,04000US56,Wyoming,2020,2020,581348,wyoming
51,04000US72,Puerto Rico,2020,2020,3255642,puerto-rico

Find and print TWO descriptive statistics about your data. This can be absolutely anything, from the mean() or sum() of a column to the number of different categories, to the number of null values in a column. We just want to see two pieces of information.

In [52]:
min_pop = min(df["Population"])
max_pop = max(df["Population"])

print("The lowest state population is " + str(min_pop) + " and the highest state population is " + str(max_pop))

The lowest state population is 581348 and the highest state population is 39346023

Write a query in Pandas to select a particular set of your data. You can use a mask or with .query(), but we want you to pull out a subset based on any parameter you like. This could be "show me every row where HTTPS=False" or anything else.

In [58]:
df.query("Population <= 1000000")

,ID State,State,ID Year,Year,Population,Slug State
1,04000US02,Alaska,2020,2020,736990,alaska
7,04000US10,Delaware,2020,2020,967679,delaware
8,04000US11,District of Columbia,2020,2020,701974,district-of-columbia
34,04000US38,North Dakota,2020,2020,760394,north-dakota
41,04000US46,South Dakota,2020,2020,879336,south-dakota
45,04000US50,Vermont,2020,2020,624340,vermont
50,04000US56,Wyoming,2020,2020,581348,wyoming


Select and print the SECOND AND THIRD columns of your data frame.

In [47]:
df.iloc[:, [1, 2]]

                   State  ID Year
0                Alabama     2020
1                 Alaska     2020
2                Arizona     2020
3               Arkansas     2020
4             California     2020
5               Colorado     2020
6            Connecticut     2020
7               Delaware     2020
8   District of Columbia     2020
9                Florida     2020
10               Georgia     2020
11                Hawaii     2020
12                 Idaho     2020
13              Illinois     2020
14               Indiana     2020
15                  Iowa     2020
16                Kansas     2020
17              Kentucky     2020
18             Louisiana     2020
19                 Maine     2020
20              Maryland     2020
21         Massachusetts     2020
22              Michigan     2020
23             Minnesota     2020
24           Mississippi     2020
25              Missouri     2020
26               Montana     2020
27              Nebraska     2020
28                Nevada     2020
29         New Hampshire     2020
30            New Jersey     2020
31            New Mexico     2020
32              New York     2020
33        North Carolina     2020
34          North Dakota     2020
35                  Ohio     2020
36              Oklahoma     2020
37                Oregon     2020
38          Pennsylvania     2020
39          Rhode Island     2020
40        South Carolina     2020
41          South Dakota     2020
42             Tennessee     2020
43                 Texas     2020
44                  Utah     2020
45               Vermont     2020
46              Virginia     2020
47            Washington     2020
48         West Virginia     2020
49             Wisconsin     2020
50               Wyoming     2020
51           Puerto Rico     2020


Select and print the FIRST 4 rows of you data frame.

In [46]:
df.head(4)

    ID State     State  ID Year  Year  Population Slug State
0  04000US01   Alabama     2020  2020     4893186    alabama
1  04000US02    Alaska     2020  2020      736990     alaska
2  04000US04   Arizona     2020  2020     7174064    arizona
3  04000US05  Arkansas     2020  2020     3011873   arkansas